<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http.get("http://localhost:58566/api/values")
            .then(function (response) {
                $scope.data = response.data;
                
            });
        $scope.PostData = function () {
            var config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }
            var data = {FirstName: "ROland", LastName: "Piggott", Email: "rolandjpiggott@gmail.com"}
            alert("im rhere");
            $http.post('http://localhost:58566/api/values', data, config)
                .success(function (data, status, headers, config) {
                    $scope.PostDataResponse = data;
                });
        };
    });
</script>

<div ng-app="myApp" ng-controller="myCtrl">
   
    <table class="table table-striped">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody ng-repeat="i in data">
            <tr>
                <td>{{i.FirstName}}</td>
                <td>{{i.LastName}}</td>
                <td>{{i.Email}}</td>
            </tr>
        </tbody>
    </table>
    <input type="button" value="post" ng-click="PostData()" />

</div>

